
<!-- include head  -->
<%- include('incs/header.ejs') %>

<!-- include navbar  -->
<%- include('incs/navbar.ejs') %>

<!-- Write content of page  -->
<h2>Home Page</h2>
<!-- end content of page  -->


<!-- include footer  -->
<%- include('incs/footer.ejs') %>